/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  height: 500px;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

/* */
#origin
{
  background-color: lightgreen;
}

#origin img, #drop img {
  margin-top: 3px;
  margin-left: 5px;
}

#drop
{
  background-color: red;
  min-height: 120px;
}
.over {
  border: solid 5px #706E7F;
}

.icon{
  border: solid 1px;
  height: 55px;
  width: 55px;
}

.fileName{
  color:black;
  font-size:12px;
}

.draggable
{
  position: absolute;
  text-align:center;
  height: 70px;
  width: 70px;
}

.onlyone {
  display: none;
}

.onlyone.activeOnly {
  display: block;
}

/*Bounce for the files*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 

.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

