/*
COLORS:
soap: #C9C4E4
offwhite: #fdfdfd
gunmetal: #2B303A
cornflower: #63959C
grey: #7C7C7C
*/

/* UTILITY */
@font-face {
    font-family: 'muliregular';
    src: url('Muli-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'muliregular', sans-serif;
    background-color: #fdfdfd;
    color: #7C7C7C;
}



/* FRIENDS LIST */
.friendsList {
    float: left;
    background-color: #2B303A;
    height: 100%;
    width: 10%;
    min-height: 100vh;
    
}

.pals {
    text-align: center;
}

ul { 
    margin: 0;
    padding: 0;
}

.pals li {
    list-style-type: none;
    margin: 5% auto;
    height: 100%;
    width: 100%;
    color: #fdfdfd;
    font-family: 'muliregular';
}

li img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

h5 {
    margin: 0;
}

h3 { 
    text-align: center;
    display: block;
    color: #fdfdfd;
    
}
span {
    margin: 0 auto;
    display:block;
    border-bottom: 2px solid #fdfdfd;
    width: 65%;
    padding-bottom: 4px;
}
.online {
    height: 15px;
    width: 15px;
    position: relative;
    left: 20%;
    top: 15px;
    background-color: green;
    border-radius: 100%;
}

.active{
    height:15px;
    width: 15px;
    background-color: blue;
    border-radius: 100%;
}

.confirmShare {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 16pt;
}
#confirm-share-name{
    color: #63959C;
}

.appContent{
   float: right;
   padding-top: 10%;
   align-items: center;
   text-align: center;
   justify-content: center;
    width: 90%;
    height:100%;
    margin:0;
}

.direc {
    display: block;
    font-size: 16pt;
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .online {
        left: 15px;
    }
    .friendsList {
        width: 100px;
    }
}