/* UTILITY */

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* FRIENDS LIST */
.friendsList {
    float: left;
    background-color: grey;
    height: 100vh;
    width: 10%;
}

.pals {
    text-align: center;
}

ul { 
    margin: 0;
    padding: 0;
}

.pals li {
    list-style-type: none;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

li img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

h5 {
    margin: 0;
}

h3 { 
    text-align: center;
    display: block;
}

.online {
    height: 15px;
    width: 15px;
    position: relative;
    left: 25px;
    top: 15px;
    background-color: green;
    border-radius: 100%;
}

.active{
    height:15px;
    width: 15px;
    background-color: blue;
    border-radius: 100%;
}

.confirmShare {
    display: none;
}

.appContent{
   float: right;
   padding-top: 20%;
   align-items: center;
   text-align: center;
   justify-content: center;
    width: 90%;
    height: 100vh;
}

.direc {
    display: block;
}